mat-toolbar {
  a {
    text-decoration: none;
    color: white;
    cursor: pointer;

    &:hover,
    &:active {
      color: lightgray;
    }
  }

  .nav-itens {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
